/*
    Filename: settings.css
    Author: Enzo Peigné
    Description: CSS file for the settings page
                 Categorized by section: 
                    - Structure of the page (body) and elements design
                    - Popup style
*/

#user-settings{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    align-self: center;
    /* margin-top: 8%;
    margin-left: 5%; */
    margin: 8% 0% 2% 5%;
    gap: 10px;
    font-family: Inter;
}

#infos-content{
    display: flex;
    flex-direction: row;
    border: #000000 solid 2px;
    padding: 30px 0px 30px 0px;
    border-radius: 10px;
    gap: 50px;
    width: 90%;
}

#user-login{
    margin-top: 4%;
}

#login-content{
    display: flex;
    flex-direction: column;
    border: #000000 solid 2px;
    padding: 30px 0px 30px 0px;
    border-radius: 10px;
    gap: 35px;
    width: 90%;
}

.edit-ico, .save-ico{
    width: 1.3em;
    height: 1.3em;
}

.save-ico{
    background-color: rgb(56, 176, 0, 0.8); 
    border-radius: 10px 0px 0px 10px;
}

.edit-ico:hover, .save-ico:hover{
    cursor: pointer;
}

#infos-left{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infos-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    gap: 10%;
}

#infos-avatar{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 1px #000000;
}

#avatar-setting{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#avatar-modify{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 75%;
    right: 0%;
    background-color: #fff;
    border: #000000 1px solid;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#infos-username section, #infos-birthday section, #login-mail section, #login-password section{
    margin-bottom: 10px;
}

#username-modify, #birthday-modify, #mail-modify, #password-modify{
    display: flex;
    flex-direction: row;
    border: #000000 solid 1px;
    border-radius: 10px;
    width: 90%;
    height: 40px;	
    align-items: center;
}

#update-mail{
    margin-top: 5px;
    font-size: smaller;
    font-style: italic;
    color: gray;
}

#update-mail a{
    text-decoration: none;
    color: gray;
    text-decoration: underline;
}

#username-but, #birthday-but, #mail-but, #password-but,
#username-save, #birthday-save, #mail-save, #password-save{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: #000000 solid 1px;
    height: 80%;
    padding: 5px 10px;
}

#username-input, #birthday-input, #mail-input, #password-input{
    border: none;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
}

#username-input:focus, #birthday-input:focus, #mail-input:focus, #password-input:focus{
    outline: none;
}

#login-mail, #login-password{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

/* ------------------------------------------------- */
/* --------------------- POPUP --------------------- */
/* ------------------------------------------------- */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 1000;
    font-family: Inter;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
    text-align: center;
    margin-bottom: 30px;
}

.popup-content h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    margin-top: 10px;
}

#avatars-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.but-choice{
    border: none;
    background-color: transparent;
}

.but-choice:focus{
    outline: none;
    background-color: rgb(56, 176, 0, 0.8);
    border-radius: 10px;
}

#default{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px #000000;
}

#default img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#avatar-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    gap: 10px;
}

#avatar-save{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius:5px;
    padding: 10px;
}

#avatar-save:hover{
    cursor: pointer;
    background-color: rgb(56, 176, 0, 0.8);
    color: #ffffff;
}

#avatar-cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius:5px;
    padding: 10px;
}

#avatar-cancel:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0, 0.8);
    color: #ffffff;
}