/*
    Filename: template-details.css
    Author: Enzo Peigné
    Description: CSS file for the template of details pages (series, movies)
                 Categorized by section: 
                    - Body
                    - Text
                    - Search (search bar not used yet)
                    - Profile
*/


/* ---------------------------- */
/* ----------- BODY ----------- */
/* ---------------------------- */

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}


body{
    /* display: flex;
    flex-direction: row; */
    align-items: stretch;
    overflow-x: hidden;
}

/* Main menu (left) */
#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 20vw;
    height: 50px;
    background-color: #191919;
    padding: 10px;
    color: white;
    position: fixed;
    z-index: 2;
    border-radius: 0px 0px 50px 0px;
}

/* Main toolbar (top) */
#header{
    position: fixed;
    display: flex;
    flex-direction:row-reverse;
    padding: 10px;
    margin-bottom: 20%;
    height: 50px;
    width: 96%;
    background-color: #d5d5d5;
    color: black;
    font-size: 25px;
    gap: 30px;
    z-index: 1;
}

/* Content */
#content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 3%;
}


/* -------------------------- */
/* ---------- TEXT ---------- */
/* -------------------------- */

#title{
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    font-size: 12px;
}


/* -------------------------- */
/* --------- SEARCH --------- */
/* -------------------------- */

#search-button{
    background: rgba(0, 0, 0, 0);
    border-style: none;
}

#search-button:hover{
    cursor: pointer;
}

#search{
    width: 100%;
    border-style: none;
}

#search:focus{
    outline: none;
}

#search-bar{
    display: flex;
    flex-direction: row;
    width: 276px;
    height: 25px;
    border-width: 2px;
    border-radius: 32px;
    padding: 10px;
    background-color: white;
}


/* -------------------------- */
/* --------- PROFILE -------- */
/* -------------------------- */

#user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: Ubuntu;
    font-size: 15px;
}

#avatar{
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}