# Ignore constants.php in php/ folder and phpMailerConf.php in php/ folder
constants.php
phpMailerConf.php


# Ignore composer files
/vendor/
composer.lock
composer.json
/src/

# Ignore robots.txt
robots.txt

# Ignore connectDatabase.py
connectDatabase.py