/*
    Filename: adadd.css
    Author: Enzo Peigné
    Description: CSS file for the add page of the administator
                 Categorized by section: 
                    - General (base elements of the page)
                    - Choice (choice between movies and series)
                    - Forms
                    - Results
*/

/* --------------------------------- */
/* ----------- GENERAL ------------- */
/* --------------------------------- */

/* STYLES OF THE GENERAL ELEMENTS */

#content-purpose{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    align-self: center;
    margin-top: 5%;
    gap: 10px;
    font-family: Inter;
}

#content-purpose h2{
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

/* --------------------------------- */
/* ----------- CHOICE -------------- */
/* --------------------------------- */

/* STYLES OF THE CHOICE BETWEEN MOVIES AND SERIES */

.main-container {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%; /* Ajuster la largeur du conteneur principal selon vos besoins */
    height: 50px; /* Ajuster la hauteur du conteneur principal selon vos besoins */
    border: #000 solid 3px; 
    border-radius: 20px;
}

.movies-content,
.series-content {
    flex: 1;
    background-color: white;
    color: #000;
    text-align: center;
    /* z-index: 1; */
}

.diagonal-separator {
    position: absolute;
    width: 3px;
    height: 100%;
    transform: skewX(-30deg); /* Inclinaison en diagonale */
    background-color: #000; /* Couleur du trait en diagonale */
    z-index: 4;
    margin-left: 50%;
}

.series-content {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.movies-content {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.movies-content:hover, 
.series-content:hover {
    cursor: pointer;
}

/* --------------------------------- */
/* ----------- FORMS --------------- */
/* --------------------------------- */

/* STYLES OF THE SEARCH FORM FOR THE SERIES AND THE MOVIES */

#forms {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

#movie-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: center;
}

#serie-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: center;
}

.content-title, .content-year {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.content-title section, .content-year section{
    margin: 10px 0 10px 0;
    font-family: Inter;
    font-weight: bold;
}

.content-title input, .content-year input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px 10px 20px;
    font-family: Inter;
    font-size: 1em;
    border: #000 solid 1px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-family: Inter;
    font-size: 1em;
    color: white;
    margin-left: 1.5em;
}

.search button{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-family: Inter;
    font-size: 1em;
    background-color: #F20000;
    color: white;

}

.search button:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.70);
} 

.search button:active{
    background-color: rgba(255, 0, 0, 0.90);
}

/* -------------------------- */
/* -------- RESULTS --------- */
/* -------------------------- */

/* STYLES OF THE RESULTS OF THE SEARCH */

#results{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.movie, .serie{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.195);
    border-radius: 10px;
}

.movie section, .serie section{
    text-align: center;
    font-family: Inter;
    font-weight: bold;
    font-size: 1.5em;
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: center;
}

.cover{
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.right-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 10%;
}

.right-content section{
    text-align: left;
    font-family: Inter;
    font-weight: bold;
    font-size: 1em;
}

.duration, .synopsis, .actors{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.no-results{
    font-size: 1.5em;
    font-family: Inter;
    font-weight: bold;
    margin-top: -15px;
}
